.card-text {
    line-height: 1.5;
}

.card {
    border: 3px solid var(--border-grey);
    border-radius: 0.5rem;
}

.card:hover {
    border-color: var(--body-blue);
    background-color: var(--body-grey);
}