/* --chakra-colors-gray-50: #F7FAFC;
    --chakra-colors-gray-100: #EDF2F7;
    --chakra-colors-gray-200: #E2E8F0;
    --chakra-colors-gray-300: #CBD5E0;
    --chakra-colors-gray-400: #A0AEC0;
    --chakra-colors-gray-500: #718096;
    --chakra-colors-gray-600: #4A5568;
    --chakra-colors-gray-700: #2D3748;
    --chakra-colors-gray-800: #1A202C;
    --chakra-colors-gray-900: #171923; */


#title-img {
    display: flex;
    width: 100%;
    background-color: rgba(203, 213, 224, 0.75);
    text-align: center;
    height: 400px;
    align-items: center;
    justify-content: center;
}

textarea {
    overflow: hidden;
}

#title-input {
    min-width: 25ch;
    max-width: 80%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    outline: none;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: -2.75rem;
    line-height: 1.5;
    text-align: center;
}

#title-input:hover,
#title-input:focus {
    background-color: rgba(160, 174, 192, 0.5);
}

#title-img-input {
    width: 50%;
}

#new-input {
    background-color: rgba(203, 213, 224, 0.75);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
}

.divide-line {
    height: 10px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#new-input textarea {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 100%;
}

#new-input input {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 100%;
}

#add-btn {
    width: 75px;
}

.display {
    display: block;
}

.hidden {
    display: none;
}

#subtitle-input textarea {
    font-weight: bold;
    font-size: 1.75rem;
}

#subtitle-input {}

#image-input {}

#quote-input {}

#podcast-input {}

select {
    font-size: 1.2rem !important;
}

#preview textarea, #preview input {
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
}

#preview textarea:hover, #preview textarea:focus, #preview input:hover, #preview input:focus {
    background-color: rgba(226, 232, 240, 0.75);
    
}

.paragraph-preview {
    width: 100%;
    font-size: 1.2rem;
    line-height: 2;
    padding: 1rem;
}

.subtitle-preview {
    padding: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
    width: 100%;
}

.quote-preview {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #EDDBC7;
    padding: 3rem;
    line-height: 1.5;
    font-family: "DM Serif Display", serif;
    border-radius: 1rem;
}

.sep {
    margin: 0;
    padding: 0;
    display: inline;
    
}

.quote-preview-text {
    display: block;
    padding-bottom: 0;
    margin-bottom: 1rem;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    font-size: 1.5rem;
}

.quote-author-source {
    text-align: end;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.quote-preview-author {
    width: 8ch;
}

.quote-preview-source {
    font-style: italic;
    width: 12ch;
}

.fa-quote-left {
    position: relative;
    top: -10px;
    left: -10px;
}