.query-selector {
    position: sticky;
    top: 6rem;
}

.form-check {
    margin-bottom: 0.5rem;
}

.search {
    display: flex;
}

.search input {
    margin-left: 0 !important;
}

.query-selector h5 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.query-selector label {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.query-selector input {
    margin-left: 0.25rem;
}

.single-vote {
    padding: 2rem 2rem 1rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--border-grey);
    border-top: 2px solid var(--border-grey);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.single-vote:hover {
    background-color: rgba(226, 232, 240, 0.25);
    border-radius: 1rem;
    border: 2px solid var(--body-blue);
    border-bottom: 2px solid var(--body-blue);
}

.option {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.vote-title {
    font-weight: bold;
}

.vote-bar {
    height: 2rem;
    background-color: white;
    width: 100%;
    position: relative;
    border-radius: 0.25rem;
}


.vote-bar-multiple {
    height: 2rem;
    position: relative;
    border-radius: 0.5rem 1rem 1rem 0.5rem;
    padding-left: 1rem;
}

.vote-multiple-1 {
    width: 80%;
    background-color: teal;
}

.vote-multiple-2 {
    width: 60%;
    background-color: aquamarine;
}

.vote-multiple-3 {
    width: 50%;
    background-color: #A7727D;
}

.single-vote h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.vote-stats {
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    width: 100%;
    text-align: center;
}

.vote-note {
    margin-left: 0.25rem;
    margin-top: 1rem;
}

.option:last-child {
    margin-bottom: 0;
}

.vote-list {
    width: 100%;
}

.vote-bar-left {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    width: 50%;
    min-width: 10% !important;
    background-color: #EDDBC7;
    position: absolute;
    left: 0;
    padding-left: 1rem;
    text-align: start;
}

.vote-bar-right {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    width: 50%;
    min-width: 10% !important;
    background-color: #A7727D;
    position: absolute;
    right: 0;
    padding-right: 1rem;
    text-align: end;
}

.vote-text {
    display: flex;
    font-weight: bold;
}