<div class="container footer mt-4" style="scroll-snap-align: end;">
    <footer class="flex-wrap py-3" style="border-top: medium solid #E2E8F0">
        <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-12 text-center text-md-start" style="margin-bottom: 0.5rem;">
                <a href="/">
                    <img src="https://schoolofathens.world/images/classical-building.png" style="width: 30px; height: 30px;">
                </a>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-12 text-center" style="margin-bottom: 0.5rem;">
                <p class="mb-0 text-muted">Created by Jinzhou Wu</p>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-12" style="margin-bottom: 0.5rem; line-height: 2;">
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
                    <li class="nav-item"><a href="/faq" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</div>