<nav class="navbar navbar-expand-lg navb navbar-min-height" style="padding: 0;">
    <div class="container-fluid" style="padding: 0 3rem;">
        <a class="navbar-brand" href="#" style="padding: 0; margin-right: 0;">
            <img src="images/classical-building.png" style="width: 30px; height: 30px; margin-right: 0.75rem;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">

            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="site-name" class="nav-link text-secondary px-2" aria-current="page" href="index">The
                            School of
                            Athens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary navlink px-4" aria-current="page"
                            href="forum">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary navlink px-4" aria-current="page"
                            href="learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary navlink px-4" aria-current="page"
                            href="groups">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary navlink px-4" aria-current="page"
                            href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary navlink px-4" aria-current="page" href="todo">To Do</a>
                    </li>
                </ul>

                <div class="login-signup"
                    style="text-align: center; display: flex; align-items: center; justify-content: center;">
                    <button type="button" class="btn btn-outline-secondary me-2"
                        onclick="window.location.href='login';">Login</button>
                    <button type="button" class="btn btn-primary"
                        onclick="window.location.href='join';">Sign-up</button>
                </div>
            </div>
        </div>
    </div>
</nav>