@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: #F7FAFC;
    margin: 0;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.text-secondary:hover {
    color: #007bff !important;
}

a {
    font-size: 1.1rem !important;
}

.navb {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: solid;
    border-color: #E2E8F0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    z-index: 2;
}

.navlink {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-align: center;
}

.navlink:hover {
    border-bottom: 0.2rem solid #007bff;
    padding-bottom: 0.8rem !important;
}

#site-name {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    margin-bottom: 0;
    margin-right: 10px;
    line-height: 1.5;
    text-align: center;
}

#site-name:hover {
    color: inherit;
    border-bottom: 0.2rem solid #007bff;
    padding-bottom: 0.7rem !important;
}

.footer {
    width: 100%;
}

p {
    line-height: 2;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
  }


@media (min-width: 1700px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .navbar-min-height {
        min-height: 4rem;
    }

    .login-signup {
        margin-bottom: 1rem;
    }
}

.navbar-toggler {
    border: none;
}