:root {
  --chakra-colors-gray-50: #f7fafc;
  --chakra-colors-gray-100: #edf2f7;
  --chakra-colors-gray-200: #e2e8f0;
  --chakra-colors-gray-300: #cbd5e0;
  --chakra-colors-gray-400: #a0aec0;
  --chakra-colors-gray-500: #718096;
  --chakra-colors-gray-600: #4a5568;
  --chakra-colors-gray-700: #2d3748;
  --chakra-colors-gray-800: #1a202c;
  --chakra-colors-gray-900: #171923;
  --chakra-colors-red-50: #fff5f5;
  --chakra-colors-red-100: #fed7d7;
  --chakra-colors-red-200: #feb2b2;
  --chakra-colors-red-300: #fc8181;
  --chakra-colors-red-400: #f56565;
  --chakra-colors-red-500: #e53e3e;
  --chakra-colors-red-600: #c53030;
  --chakra-colors-red-700: #9b2c2c;
  --chakra-colors-red-800: #822727;
  --chakra-colors-red-900: #63171b;
  --chakra-colors-orange-50: #fffaf0;
  --chakra-colors-orange-100: #feebc8;
  --chakra-colors-orange-200: #fbd38d;
  --chakra-colors-orange-300: #f6ad55;
  --chakra-colors-orange-400: #ed8936;
  --chakra-colors-orange-500: #dd6b20;
  --chakra-colors-orange-600: #c05621;
  --chakra-colors-orange-700: #9c4221;
  --chakra-colors-orange-800: #7b341e;
  --chakra-colors-orange-900: #652b19;
  --chakra-colors-yellow-50: #fffff0;
  --chakra-colors-yellow-100: #fefcbf;
  --chakra-colors-yellow-200: #faf089;
  --chakra-colors-yellow-300: #f6e05e;
  --chakra-colors-yellow-400: #ecc94b;
  --chakra-colors-yellow-500: #d69e2e;
  --chakra-colors-yellow-600: #b7791f;
  --chakra-colors-yellow-700: #975a16;
  --chakra-colors-yellow-800: #744210;
  --chakra-colors-yellow-900: #5f370e;
  --chakra-colors-green-50: #f0fff4;
  --chakra-colors-green-100: #c6f6d5;
  --chakra-colors-green-200: #9ae6b4;
  --chakra-colors-green-300: #68d391;
  --chakra-colors-green-400: #48bb78;
  --chakra-colors-green-500: #38a169;
  --chakra-colors-green-600: #2f855a;
  --chakra-colors-green-700: #276749;
  --chakra-colors-green-800: #22543d;
  --chakra-colors-green-900: #1c4532;
  --chakra-colors-teal-50: #e6fffa;
  --chakra-colors-teal-100: #b2f5ea;
  --chakra-colors-teal-200: #81e6d9;
  --chakra-colors-teal-300: #4fd1c5;
  --chakra-colors-teal-400: #38b2ac;
  --chakra-colors-teal-500: #319795;
  --chakra-colors-teal-600: #2c7a7b;
  --chakra-colors-teal-700: #285e61;
  --chakra-colors-teal-800: #234e52;
  --chakra-colors-teal-900: #1d4044;
  --chakra-colors-blue-50: #ebf8ff;
  --chakra-colors-blue-100: #bee3f8;
  --chakra-colors-blue-200: #90cdf4;
  --chakra-colors-blue-300: #63b3ed;
  --chakra-colors-blue-400: #4299e1;
  --chakra-colors-blue-500: #3182ce;
  --chakra-colors-blue-600: #2b6cb0;
  --chakra-colors-blue-700: #2c5282;
  --chakra-colors-blue-800: #2a4365;
  --chakra-colors-blue-900: #1a365d;
  --chakra-colors-cyan-50: #edfdfd;
  --chakra-colors-cyan-100: #c4f1f9;
  --chakra-colors-cyan-200: #9decf9;
  --chakra-colors-cyan-300: #76e4f7;
  --chakra-colors-cyan-400: #0bc5ea;
  --chakra-colors-cyan-500: #00b5d8;
  --chakra-colors-cyan-600: #00a3c4;
  --chakra-colors-cyan-700: #0987a0;
  --chakra-colors-cyan-800: #086f83;
  --chakra-colors-cyan-900: #065666;
  --chakra-colors-purple-50: #faf5ff;
  --chakra-colors-purple-100: #e9d8fd;
  --chakra-colors-purple-200: #d6bcfa;
  --chakra-colors-purple-300: #b794f4;
  --chakra-colors-purple-400: #9f7aea;
  --chakra-colors-purple-500: #805ad5;
  --chakra-colors-purple-600: #6b46c1;
  --chakra-colors-purple-700: #553c9a;
  --chakra-colors-purple-800: #44337a;
  --chakra-colors-purple-900: #322659;
  --chakra-colors-pink-50: #fff5f7;
  --chakra-colors-pink-100: #fed7e2;
  --chakra-colors-pink-200: #fbb6ce;
  --chakra-colors-pink-300: #f687b3;
  --chakra-colors-pink-400: #ed64a6;
  --chakra-colors-pink-500: #d53f8c;
  --chakra-colors-pink-600: #b83280;
  --chakra-colors-pink-700: #97266d;
  --chakra-colors-pink-800: #702459;
  --chakra-colors-pink-900: #521b41;
  --chakra-colors-linkedin-50: #e8f4f9;
  --chakra-colors-linkedin-100: #cfedfb;
  --chakra-colors-linkedin-200: #9bdaf3;
  --chakra-colors-linkedin-300: #68c7ec;
  --chakra-colors-linkedin-400: #34b3e4;
  --chakra-colors-linkedin-500: #00a0dc;
  --chakra-colors-linkedin-600: #008cc9;
  --chakra-colors-linkedin-700: #0077b5;
  --chakra-colors-linkedin-800: #005e93;
  --chakra-colors-linkedin-900: #004471;
  --chakra-colors-facebook-50: #e8f4f9;
  --chakra-colors-facebook-100: #d9dee9;
  --chakra-colors-facebook-200: #b7c2da;
  --chakra-colors-facebook-300: #6482c0;
  --chakra-colors-facebook-400: #4267b2;
  --chakra-colors-facebook-500: #385898;
  --chakra-colors-facebook-600: #314e89;
  --chakra-colors-facebook-700: #29487d;
  --chakra-colors-facebook-800: #223b67;
  --chakra-colors-facebook-900: #1e355b;
  --chakra-colors-messenger-50: #d0e6ff;
  --chakra-colors-messenger-100: #b9daff;
  --chakra-colors-messenger-200: #a2cdff;
  --chakra-colors-messenger-300: #7ab8ff;
  --chakra-colors-messenger-400: #2e90ff;
  --chakra-colors-messenger-500: #0078ff;
  --chakra-colors-messenger-600: #0063d1;
  --chakra-colors-messenger-700: #0052ac;
  --chakra-colors-messenger-800: #003c7e;
  --chakra-colors-messenger-900: #002c5c;
  --chakra-colors-whatsapp-50: #dffeec;
  --chakra-colors-whatsapp-100: #b9f5d0;
  --chakra-colors-whatsapp-200: #90edb3;
  --chakra-colors-whatsapp-300: #65e495;
  --chakra-colors-whatsapp-400: #3cdd78;
  --chakra-colors-whatsapp-500: #22c35e;
  --chakra-colors-whatsapp-600: #179848;
  --chakra-colors-whatsapp-700: #0c6c33;
  --chakra-colors-whatsapp-800: #01421c;
  --chakra-colors-whatsapp-900: #001803;
  --chakra-colors-twitter-50: #e5f4fd;
  --chakra-colors-twitter-100: #c8e9fb;
  --chakra-colors-twitter-200: #a8dcfa;
  --chakra-colors-twitter-300: #83cdf7;
  --chakra-colors-twitter-400: #57bbf5;
  --chakra-colors-twitter-500: #1da1f2;
  --chakra-colors-twitter-600: #1a94da;
  --chakra-colors-twitter-700: #1681bf;
  --chakra-colors-twitter-800: #136b9e;
  --chakra-colors-twitter-900: #0d4d71;
  --chakra-colors-telegram-50: #e3f2f9;
  --chakra-colors-telegram-100: #c5e4f3;
  --chakra-colors-telegram-200: #a2d4ec;
  --chakra-colors-telegram-300: #7ac1e4;
  --chakra-colors-telegram-400: #47a9da;
  --chakra-colors-telegram-500: #0088cc;
  --chakra-colors-telegram-600: #007ab8;
  --chakra-colors-telegram-700: #006ba1;
  --chakra-colors-telegram-800: #005885;
  --chakra-colors-telegram-900: #003f5e;
  --chakra-colors-dark: #171923;
  --chakra-colors-progressBarYellow-500: #ffd000;
  --chakra-colors-yellow50: #fffdec;
  --chakra-colors-yellow100: #fff9cc;
  --chakra-colors-yellow200: #fff299;
  --chakra-colors-yellow300: #ffe866;
  --chakra-colors-yellow400: #ffdf3f;
  --chakra-colors-yellow500: #ffd000;
  --chakra-colors-yellow600: #ffbe17;
  --chakra-colors-yellow700: #ffa800;
  --chakra-colors-yellow800: #f69400;
  --chakra-colors-yellow900: #ef8508;
  --chakra-colors-blue50: #e5f6ff;
  --chakra-colors-blue100: #d4effe;
  --chakra-colors-blue200: #a9dbfd;
  --chakra-colors-blue300: #7ec2f9;
  --chakra-colors-blue400: #5daaf4;
  --chakra-colors-blue500: #2a84ee;
  --chakra-colors-blue600: #1e66cc;
  --chakra-colors-blue700: #154cab;
  --chakra-colors-blue800: #0d358a;
  --chakra-colors-blue900: #082572;
  --chakra-colors-gray50: #f7fafc;
  --chakra-colors-gray100: #edf2f7;
  --chakra-colors-gray200: #e2e8f0;
  --chakra-colors-gray300: #cbd5e0;
  --chakra-colors-gray400: #a0aec0;
  --chakra-colors-gray500: #718096;
  --chakra-colors-gray600: #4a5568;
  --chakra-colors-gray700: #2d3748;
  --chakra-colors-gray800: #1a202c;
  --chakra-colors-gray900: #171923;
  --chakra-colors-green50: #e7fcf3;
  --chakra-colors-green100: #cff8e8;
  --chakra-colors-green200: #9ef1d1;
  --chakra-colors-green300: #6eebb9;
  --chakra-colors-green400: #3de4a2;
  --chakra-colors-green500: #0ddd8b;
  --chakra-colors-green600: #0ab16f;
  --chakra-colors-green700: #088553;
  --chakra-colors-green800: #055838;
  --chakra-colors-green900: #032c1c;
  --chakra-colors-red50: #ffeceb;
  --chakra-colors-red100: #ffd8d5;
  --chakra-colors-red200: #ffb1ac;
  --chakra-colors-red300: #ff9892;
  --chakra-colors-red400: #ff6a66;
  --chakra-colors-red500: #ff303e;
  --chakra-colors-red600: #db2340;
  --chakra-colors-red700: #b7183f;
  --chakra-colors-red800: #930f3c;
  --chakra-colors-red900: #7a0939;
  --chakra-colors-pink50: #feedf5;
  --chakra-colors-pink100: #fddbeb;
  --chakra-colors-pink200: #fbb7d7;
  --chakra-colors-pink300: #f992c4;
  --chakra-colors-pink400: #f76eb0;
  --chakra-colors-pink500: #f54a9c;
  --chakra-colors-pink600: #dd438c;
  --chakra-colors-pink700: #ac346d;
  --chakra-colors-pink800: #7b254e;
  --chakra-colors-pink900: #49162f;
  --chakra-colors-purple50: #f6eeff;
  --chakra-colors-purple100: #ead9fd;
  --chakra-colors-purple200: #d3b5fc;
  --chakra-colors-purple300: #b78ef6;
  --chakra-colors-purple400: #9e70ee;
  --chakra-colors-purple500: #7843e3;
  --chakra-colors-purple600: #5c30c3;
  --chakra-colors-purple700: #4321a3;
  --chakra-colors-purple800: #2e1583;
  --chakra-colors-purple900: #1f0c6c;
  --chakra-colors-cyan50: #ebfffd;
  --chakra-colors-cyan100: #d6fefa;
  --chakra-colors-cyan200: #aefdfa;
  --chakra-colors-cyan300: #85f6fb;
  --chakra-colors-cyan400: #66e6f7;
  --chakra-colors-cyan500: #35cef2;
  --chakra-colors-cyan600: #26a3d0;
  --chakra-colors-cyan700: #1a7cae;
  --chakra-colors-cyan800: #10598c;
  --chakra-colors-cyan900: #0a4074;
  --chakra-colors-orange500: #fa7022;
  --chakra-colors-orange700: #be3503;
  --chakra-colors-skintone4: #edbc89;
  --chakra-colors-skintone11: #5d4437;
}
