#title-img {
    display: flex;
    width: 100%;
    background-color: rgba(203, 213, 224, 0.75);
    text-align: center;
    height: 400px;
    align-items: center;
    justify-content: center;
}

p {
    margin-bottom: 0;
}

#content {
    margin-bottom: 4rem;
}

#end-mark {
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
}

#title {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: -2.75rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.paragraph {
    width: 100%;
    font-size: 1.2rem;
    line-height: 2;
    padding: 1rem;
    margin-bottom: 1rem;
}

.subtitle {
    padding: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0;
}

.quote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #EDDBC7;
    padding: 3rem;
    line-height: 1.5;
    font-family: "DM Serif Display", serif;
    border-radius: 1rem;
}

.quote-text {
    display: block;
    padding-bottom: 0;
    margin-bottom: 1rem;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    font-size: 1.5rem;
}

.quote-author-source {
    text-align: end;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.quote-source {
    font-style: italic;
}

.fa-quote-left {
    position: relative;
    top: -10px;
    left: -10px;
}