

.vote-head {
    background-color: var(--body-gray-dark);
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--border-gray-dark);
}

.vote-head h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

.vote-intro {
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.vote-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    background-color: white;
    border-bottom: 2px solid var(--border-gray-dark);
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}

.vote-toolbar--sortby {
    display: flex;
    align-items: center;

}

.vote-toolbar--sortby h5 {
    width: 100%;
    margin-bottom: 0;
}

.vote-body {
    padding-bottom: 2rem;
    margin-bottom: 0;
    background-color: var(--body-gray);
}

.vote-summary {
    display: flex;
    margin-top: 1rem;
    padding: 0 0.5rem;
}

.vote-summary--left {
    display: flex;
    border-right: 3px dashed var(--border-gray-dark);
    flex-direction: column;
    align-items: start;
    padding-right: 1.5rem;
    padding-left: 0;
}

.vote-summary--right {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 1.5rem;
    padding-right: 0;
}

.vote-summary .accordion {
    width: 100%;
}

.vote-summary .accordion-item {
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 1rem !important;
}

.vote-summary .accordion-button {
    color: black !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    background-color: var(--body-gray-dark);
    border: none;
    box-shadow: none;
    width: 100%;
    display: flex;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.vote-summary--right .accordion-button {
    flex-direction: row-reverse;
}

.vote-summary--right .accordion-button::after {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.vote-summary .accordion-body {
    padding-top: 0.25rem;
}

.vote-summary .accordion-body p {
    margin-bottom: 0;
    line-height: 1.75;
}

.vote-summary .accordion-button:hover {
    background-color: var(--border-gray-dark);
}

.opinion-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-right: 3px dashed var(--border-gray);
}

.opinion-list:last-child {
    border-right: none;
}

.opinion-card {
    justify-content: start;
    padding: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 2px solid var(--border-gray-dark);
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
}

.opinion-card:hover {
    background-color: var(--body-gray-dark);
    border: 2px solid var(--background-blue);
    
}

.opinion-card--user {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

.opinion-card--user:hover {
    background-color: var(--border-gray);
}

.opinion-card--user span {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: inherit;
}

.opinion-card--text {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0 1rem;
}

.opinion-card--text p {
    line-height: 1.75;
}

.opinion-card--info {
    border-top: 2px solid var(--border-gray-dark);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem 0 1rem;
    border-radius: 0 0 0.7rem 0.7rem;
    display: flex;
    justify-content: space-between;
}

.opinion-card--upvote {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.opinion-card--upvote:hover {
    background-color: var(--border-gray);
    
}

.modal-body label {
    margin-top: 0.75rem;
    margin-left: 0.25rem;
}

.modal-header {
    border-bottom: 2px solid var(--border-gray-dark);
}