.profile-head {
    padding-top: 3rem;
    background-color: var(--body-gray-dark);
    border-bottom: 3px solid var(--border-gray-dark);
}

.profile-head--wrapper {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}

.profile-head--body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-body {
    min-height: 60vh;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.profile-body--section {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.75rem;
}

.profile-body--section h3 {
    padding-left: 3px;
}


.profile-body--card {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid var(--border-gray-dark);
    border-radius: 0.5rem;
    background-color: white;
}

#stats p {
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    margin-bottom: 1rem;
}

#stats p:last-child {
    margin-top: 0.75rem;
    width: 100%;
    margin-bottom: 0;
}

.profile-body--vote {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 2px solid var(--border-gray);
}

.profile-body--vote:last-child {
    border-bottom: 2px solid transparent;
}

.profile-body--vote:last-child:hover p {
    color: var(--background-blue-hover);
}

.profile-body--vote:hover {
    background-color: var(--body-gray-dark);
}

.profile-body--opinion {
    margin-top: 1rem;
    padding: 1rem 1rem 0.5rem 1rem ;
    border: 2px solid var(--border-gray-dark);
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
}

.profile-body--opinion:hover {
    background-color: var(--body-gray-dark);
    border: 2px solid var(--body-blue);
}

.profile-body--insight {
    margin-top: 1rem;
    padding: 0;
    padding-bottom: 0.5rem;
    border: 2px solid var(--border-gray-dark);
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
}

.profile-body--insight:hover {
    background-color: var(--body-gray-dark);
    border: 2px solid var(--body-blue);
}

.profile-body--insight h5 {
    margin-top: 0.75rem;
}


.profile-body--info {
    border-top: 2px solid var(--border-gray);
    margin-top: 0.5rem;
    padding-top: 0.25rem;
    border-radius: 0 0 0.7rem 0.7rem;
    display: flex;
    justify-content: space-between;
}

.profile-body--insight img {
    height: 12rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}

.profile-body--group {
    margin-top: 1rem;
    padding: 0;
    padding-bottom: 0.5rem;
    border: 2px solid var(--border-gray-dark);
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
}

.profile-body--group:hover {
    background-color: var(--body-gray-dark);
    border: 2px solid var(--body-blue);
}

.profile-body--group img {
    height: 12rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
    margin-bottom: 0.75rem;
}

.profile-body--group .profile-body--info {
    justify-content: end;
}