@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --body-grey: #F7FAFC;
    --body-grey-dark: #EDF2F7;
    --border-grey: #E2E8F0;
    --border-grey-dark: #CBD5E0;
    --background-grey-light: #A0AEC0;
    --background-grey: #718096;
    --background-grey-dark: #4A5568;
    --contrast-light: #2D3748;
    --contrast: #1A202C;
    --contrast-dark: #171923;
    --background-blue: #2A84EE;
    --background-blue-dark: #007bff;
    --background-blue-hover: #1E66CC;
    --success: #2F7037;
    --error: #BD312E;
    --success-light: #F0FFF4;
    --error-light: #FFF5F5;
    --gold: #FFBE17;
}



html {
    background-color: var(--background-blue);
}

h1, h2, h3, h4, h5  {
    font-weight: bold;
    line-height: 1.25;
}

span {
    display: flex;
    align-items: center;
}

.page-title {
    background-color: var(--border-grey);
    margin-bottom: 3rem;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--body-grey);
    margin: 0;
}

p {
    line-height: 2;
    color: black;
    font-size: 1.1rem;
}

a {
    font-size: 1.1rem !important;
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

input, textarea, select {
    border: 2px solid var(--border-grey-dark) !important;
}

label {
    margin-left: 0.25rem;
}

.notice {
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-secondary:hover {
    color: #007bff !important;
}

/* Navbar Styles */

.navbar {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--border-grey-dark);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    z-index: 100;
}

.navbar-brand {
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link {
    height: 8vh;
    border: 3px solid transparent;
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #007bff;
}

.navbar-toggler {
    border: none;
}

.signIn-signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#site-name {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0;
}

#site-name:hover {
    border-bottom: 3px solid #007bff;
}

@media (max-width: 992px) {
    .navbar-min-height {
        min-height: 4rem;
    }

    .login-signup {
        margin-bottom: 1rem;
    }

    .offcanvas {
        max-width: 80%;
    }
}

/* Footer Styles */

.footer {
    width: 100%;
    background-color: var(--background-blue);
    
}

.footer-home {
    padding-top: 2rem;
    width: 100%;
    background-color: var(--background-blue);
    scroll-snap-align: end;
    color: white;
}

.footer-home p {
    color: white;
    padding: 1rem 0;
}

.footer--logo a {
    padding-left: 2rem;
    color: var(--body-grey);
    display: inline-block;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    line-height: 2;
}

.footer-home .footer--logo a {
    padding-left: 0;
}

.footer--links {
    padding-right: 2rem;
}

.footer--links a {
    color: var(--body-grey);
    line-height: 2;
    padding: 0 0.5rem !important;
}

.footer-home .footer--links {
    padding-right: 0;
}

.footer a:hover {
    color: var(--border-grey-dark);
}

.progress_bar {
    width: 100%;
    height: 5px;
    position: fixed;
    background-color: green;
    z-index: 101;
}

/* Custom Button Styles */

.btn-blue {
    background-color: var(--background-blue);
    color: var(--body-grey) !important;
    border-radius: 0.5rem;
}

.btn-blue:hover {
    background-color: var(--background-blue-hover);
}

.btn-grey{
    background-color: var(--body-grey);
    border: 2px solid var(--border-grey-dark) !important;
    border-radius: 0.5rem;
}

.btn-grey:hover {
    background-color: var(--body-grey-dark);
}

.nav-user {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.nav-user p {
    margin-bottom:  0;
    margin-left: 0.75rem;
}

.nav-user img {
    height: 2rem;
    width: 2rem;
    box-sizing: content-box;
    border-radius: 2rem;
}

.offcanvas-body {
    align-items: center;
}

.toast-success {
    background-color: var(--success-light);
    border: 2px solid var(--success);
}

.toast-error {
    background-color: var(--error-light);
    border: 2px solid var(--error);
}

.toast-body {
    font-size: 1rem;
}

.user-action {
    z-index: 101;
    right: 2rem;
    top: calc(4vh + 1rem);
    padding-top: calc((8vh - 2rem) / 8);
    position: fixed;
    
}

.user-action--btn {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(white);
    border: 2px solid var(--border-grey-dark);
    
}

.user-action a {
    font-size: 1rem !important;
}

.link-light {
    background-color: transparent;
    color: black !important;
    border-bottom: 2px solid var(--border-grey);
    text-align: center;
    padding: 0.5rem 1.5rem;
}

.link-light:hover {
    background-color: var(--body-grey-dark);
    color: black !important;
}

.link-light-active {
    color: black !important;
    border-bottom: 2px solid var(--background-blue);
}

.link-light:visited {
    color: black !important;
}

.link-col:first-child {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}

.link-col:last-child {
    border-radius: 0 0 0.5rem 0.5rem !important;
    border-bottom: none;
}

.icon-grey {
    color: var(--background-grey-light);
    margin-right: 0.75rem;
}

.blue {
    color: var(--background-blue-dark);
}

.user-portrait {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.modal-title {
    margin-top: 0;
}