iframe {
    width: 100%;
    height: 600px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: none;
}

.add-btn {
    width: 75px;
    text-align: center;
    display: block;
}

.list-item {
    display: flex;
    border-radius: 1rem;
    width: 100%;
    line-height: 2;
    justify-content: space-between;
    padding: 1rem;
}

.list-item:hover {
    background-color: #EDF2F7;
}

.button-group {
    display: none;
    text-align: end;
}

.list-item:hover .button-group {
    display: inline-block;
}

.list-item p {
    display: inline-block;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.todo-link {
    padding-left: 4ch;
}

.new-item-input {
    display: inline-block;
}

.new-item-input input {
    min-width: 10ch;
    max-width: 20rem;
    border: none;
    background-color: transparent;
}

.fixed {
    display: none !important;
}