.notice {
    height: 80vh;
}

.footer {
    bottom: 0;
}

.vote-example {
    padding: 2rem;
    background-color: transparent;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.vote-example:hover {
    background-color: rgba(226, 232, 240, 0.75);
}

.vote-bar {
    height: 2rem;
    background-color: white;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.vote-bar-left {
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: 50%;
    min-width: 10% !important;
    background-color: #EDDBC7;
    position: absolute;
    left: 0;
    padding-left: 1rem;
    text-align: start;
}

.vote-bar-left:hover {
    background-color: #CFB997;
}

.vote-bar-right {
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    width: 50%;
    min-width: 10% !important;
    background-color: #A7727D;
    position: absolute;
    right: 0;
    padding-right: 1rem;
    text-align: end;
}

.vote-bar-right:hover {
    background-color: #820000;
}

.vote-text {
    display: flex;
    font-weight: bold;
}