:root {
    --body-grey: #F7FAFC;
    --border-grey: #E2E8F0;
    --border-grey-darker: #cbd5e0;
    --body-blue: #2A84EE;
    --body-blud-hover: #1e66cc;
    --body-grey-hover: #EDF2F7;
    --body-dark-grey: #171923;
    --body-blue-muted: #E5F6FF;
    --body-dark-grey-hover: #1A202C;
}

.sign_in {
    width: 100vw;
    height: 100vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/school-of-athens-122422.appspot.com/o/projectFiles%2Fimages%2Fbazar_of_athens.jpg?alt=media&token=4ceeb8ca-1a4c-4ef0-b2fe-77d821f7b323);
    background-size: cover;
    position: relative;
    object-fit: cover;
    padding-top: 10rem;
}

.sign_in--form {
    background-color: var(--body-grey);
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0.75rem;
    border: 3px solid var(--border-grey-darker);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_in--form h1 {
    font-weight: bold;
    margin-top: 0;
}

.sign_in--form input {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid var(--border-grey-darker);
}

.sign_in--form label {
    align-self: start;
    margin-left: 3px;
}

.sign_in--btn {
    margin-top: 1rem;
    background-color: var(--body-blue);
    color: white;
    width: 100%;
}

.sign_in--btn:hover {
    background-color: var(--body-blud-hover);
    color: white;
}

.sign_in--google_btn {
    background-color: var(--body-grey);
    border: 2px solid var(--border-grey-darker);
    width: 100%;
}

.sign_in--google_btn img {
    margin-right: 1rem;
}

.sign_in--google_btn:hover {
    background-color: var(--body-grey-hover);
    border: 2px solid var(--border-grey-darker);
}

.sign_in--divide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.sign_in--divide hr {
    width: 25%;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 2px solid var(--border-grey-darker);
    opacity: 1;
}

.img_caption {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--body-dark-grey);
    position: fixed;
    top: 6rem;
    left: 2rem;
    margin-right: 2rem;

}

.img_caption:hover {
    background-color: var(--body-dark-grey-hover);
}

.sign_in--forget_password {
    margin-top: 1rem;
    color: var(--body-blud-hover);
}

.sign_in--forget_password:hover {
    color: var(--body-blue);
}